
<!DOCTYPE html>
<html class="x-admin-sm">
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript">
</script>
    <head>
        <meta charset="UTF-8">
        <title>发票详情查询-lwt</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
    </head>
    <body>
        <div class="x-nav">
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                         <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                               <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="euUserName" placeholder="请输入产品名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <a class="layui-btn search_btn" data-type="reload">
                                        <i class="layui-icon">&#xe615;</i></a>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body ">
                           <table class="layui-table"id="demo"  lay-filter="test"></table>
					</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>layui.use('laydate',
        function() {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });

        });</script>
    <script th:inline="none">layui.use('table',
        function() {
    	var form = layui.form;
            var table = layui.table;
            var sale_id=parent.names;
            table.render({
                elem: '#demo'
                ,height: 312
                ,toolbar: '#toolbarDemo'
                ,url: 'InvoiceAll?des_id='+sale_id //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                	{field:'des_id', width:200, title:"发票Id"},
                	{field:'product_name', width:200 , title:"商品名称"},
                	{field:'cost_price', width:100, title:"商品价格"},
                	{field:'cost_num', width:120, title:"商品数量"},
                	{field:'subtotal', width:120, title:"小计"},
                	{field:'cost_time', width:200, title:"采购时间"}
                ]]
              });
            $ = layui.jquery;
            var form = layui.form,
            layer = layui.layer;
			            
          	//条件查询
            $(".search_btn").on("click",function(){
                     table.reload("demo",{
                         page: {
                             curr: 1 //重新从第 1 页开始
                         },
                         where: {
                        	 name: $("input[name=euUserName]").val()  //搜索的关键字
                         }
                     });
             }); 
        });</script>
</html>
