<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>商品展示</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<style>
body {
	padding: 60px;
}

#div1 {
	width: 400px;
	margin: 0px auto;
}
</style>
<body>
	<div id="div1">
		<h3 class="text-center">客户登陆</h3>
		<form class="form-horizontal" th:action="@{/loginUser}" method="post">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">username:</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" name="u_name"
						placeholder="username" th:value="${failUser}">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-3 control-label">password:</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" name="u_password"
						placeholder="password">
				</div>
			</div>
			<span style="color:red" th:text="${errMsg }"></span>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-default">登陆</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>