<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>产品所需物料的详细</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
* {
	margin: 5px
}
</style>
<body>
	<div id="app">
		<label class="form-inline"> 
			<h4>[[${session.goods_name}]]</h4>
		</label>
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>物料编号</th>
					<th>物料名称</th>
					<th>描述</th>
					<th>数量</th>
					<th>单价</th>
					<th>小计</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="m:${session.materialdetail}">
					<td th:text="${m.product_id}"></td>
					<td th:text="${m.product_name}"></td>
					<td th:text="${m.product_describe}"></td>
					<td th:text="${m.amount}"></td>
					<td th:text="${m.cost_price}"></td>
					<td th:text="${m.subtotal}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
