<!DOCTYPE html>
<html class="x-admin-sm">

<head>
<meta charset="UTF-8">
<title>添加菜单</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<script type="text/javascript" src="./lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-row">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-input-inline">
						<input type="hidden" id="id" name="id" required=""
							lay-verify="pid" autocomplete="off" class="pid layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label for="pname" class="layui-form-label"> <span
						class="x-red">*</span>权限(菜单)名
					</label>
					<div class="layui-input-inline">
						<input type="text" id="name" name="name" required=""
							lay-verify="pname" autocomplete="off" class="name layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">
						<span class="x-red">*</span>这是你要添加的菜单
					</div>
				</div>
				
				<div class="layui-form-item">
					<label for="purl" class="layui-form-label"> <span
						class="x-red">*</span>描述
					</label>
					<div class=" layui-input-inline">
						<input type="text" id="miaoshu" name="miaoshu" required=""
							lay-verify="purl" autocomplete="off" class="purl layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">对权限菜单的一个描述</div>
				</div>
				
				<div class="layui-form-item">
					<label for="purl" class="layui-form-label"> <span
						class="x-red">*</span>链接地址
					</label>
					<div class=" layui-input-inline">
						<input type="text" id="url" name="url" required=""
							lay-verify="purl" autocomplete="off" class="purl layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">如:userlist.jsp、adduser</div>
				</div>
				
				<div class="layui-form-item">
					<label for="tid" class="layui-form-label"> <span
						class="x-red">*</span>父级菜单
					</label>
					<div class="layui-input-inline">
						<select name="parentid" id="parentid" lay-verify="tid">
							<option value="0">请选择</option>
						</select> 
					</div>
				</div>
				
				<div class="layui-form-item">
					<label for="tid" class="layui-form-label"> <span
						class="x-red">*</span>类型
					</label>
					<div class="layui-input-inline">
						<select name="type" id="type" lay-verify="tid">
							<option value="请选择">请选择</option>
							<option value="0">菜单</option>
							<option value="1">权限</option>
						</select> 
					</div>
				</div>

				<div class="layui-form-item">
					<label for="L_repass" class="layui-form-label"> </label>
					<button class="layui-btn btn_add" lay-filter="add" lay-submit="">
						确认增加</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		layui.use([ 'form', 'layer' ], function() {
			$ = layui.jquery;
			var form = layui.form, layer = layui.layer;
			//监听提交
			form.on('submit(add)', function(data) {
				$.post("addMenuInfo", data.field, function(data) {
					if (data == "1") {
						setTimeout(function() {
							top.layer.msg("添加成功！");
							layer.closeAll("iframe");
							//刷新父页面
							parent.location.reload();
						}, 1000);
					} else {
						top.layer.msg("操作失败！");
					}
				});
				return false;
			});
		});
	</script>
	 <script>
		layui.use([ 'form', 'layer' ], function() {
			$ = layui.jquery;
			var form = layui.form, layer = layui.layer;
			//下拉框绑定数据
			$.ajax({
				//提交数据的类型 POST GET
				type : "POST",
				//提交的网址
				url : "Menubangding",
				//提交的数据
				//返回数据的格式
				datatype : "json",//“xml”, “html”, “script”, “json”, “jsonp”, “text”.
				//成功返回之后调用的函数
				success : function(result) {
					var s = $(".tid").val();
					var data = eval('(' + result + ')');
					$.each(data, function(index, item) {
						var option = "<option ";
						option += " value=" + item.id + ">" + item.name
								+ "</option>";
						option += "</optgroup>";
						$("#parentid").append($(option));
					});
					layui.form.render("select");
				},
				error : function() {
					alert("查询失败！！！")
				}
			});
		});
	</script>
</body>
</html>
