<!DOCTYPE html>
<html class="x-admin-sm">
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript">
</script>
    <head>
        <meta charset="UTF-8">
        <title>物料组成信息查询(通过)</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
      
    </head>
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
             <a><cite>物料组成设计单查询</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                    <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                               <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="euUserName" placeholder="请输入产品的名称" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <a class="layui-btn search_btn" data-type="reload">
                                        <i class="layui-icon">&#xe615;</i></a>
                                </div>
                                
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="product_id" placeholder="请输入产品的编号" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <a class="layui-btn search_btn2" data-type="reload">
                                        <i class="layui-icon">&#xe615;</i></a>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
									<div class="layui-input-inline">
										<select name="check_tag" id="check_tag" lay-verify="tid">
											<option value="" >审核状态</option>
											<option value="审核通过">审核通过</option>
											<option value="等待审核">等待审核</option>
											<option value="审核不通过">审核不通过</option>
										</select> 
									</div>
								</div>
								<div class="layui-inline layui-show-xs-block">
                                    <a class="layui-btn search_btn3" data-type="reload">
                                        <i class="layui-icon">&#xe615;</i></a>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table" lay-data="{url:'getAllModuleInfo',page:true,toolbar: '#toolbarDemo',id:'test'}" lay-filter="test">
                                <thead>
                                    <tr>
                                    	<th lay-data="{field:'design_id', width:100, sort: true}">设计单号</th>
                                        <th lay-data="{field:'product_id', width:106, sort: true}">产品编号</th>
                                        <th lay-data="{field:'product_name', width:90}">产品名称</th>
                                        <th lay-data="{field:'designer', width:80}">设计人</th>
                                        <th lay-data="{field:'module_describe', width:170}">设计要求</th>
                                        <th lay-data="{field:'cost_price_sum', width:80}">物料成本</th>
                                         <th lay-data="{field:'register', width:70}">登记人</th>
                                         <th lay-data="{field:'register_time', width:150,sort: true, edit: 'text',templet: function(d){return layui.util.toDateString(d.register_time)}}">登记时间</th>
                                          <th lay-data="{field:'check_tag',width:100, minWidth: 100,templet: '#titleTpl'}">审核状态</th>
                                          <th lay-data="{field:'checker', width:70}">复核人</th>
                                         <th lay-data="{field:'check_time', width:150,sort: true, edit: 'text',templet: function(d){return layui.util.toDateString(d.register_time)}}">复核时间</th>
                                        <th lay-data="{width:160, templet:'#oprListBar',fixed:'right'}">操作</th>
                                        </tr>
                                </thead>
                            </table>
                              <script type="text/html" id="titleTpl">
  						{{#  if(d.check_tag == "审核通过"){ }}
    						 <span class="layui-btn layui-btn-normal layui-btn-mini">审核通过</span>
  						{{#  } else if(d.check_tag == "等待审核") { }}
    						<span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-danger">等待审核</span>
 						{{#  } else{ }}
							<span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-danger">审核驳回</span>
  						{{#  }  }}
						</script>
					</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!--操作-->
	<script type="text/html" id="oprListBar">
 		<i class="layui-icon layui-btn layui-btn-warning" lay-event="zhuangpei">装配详情</i>
		<i class="layui-icon layui-btn layui-btn-danger" lay-event="update">修改</i>
	</script>
    <script type="text/html" id="toolbarDemo">
        <div class = "layui-btn-container" > 
            <button class = "layui-btn layui-btn-sm" lay-event = "" >物料组成信息如下</button>
        </div > 
    </script>
    <script>layui.use('table',
        function() {
            var table = layui.table;
				
          //列表操作
            table.on('tool(test)', function(obj){
                var layEvent = obj.event,
                    data = obj.data;
                if(layEvent === 'zhuangpei'){ //产品装配信息
                	$.get("openmakematerialdetail",{
                   	 product_id : data.product_id ,product_name: data.product_name,
                    },function(data){
                   	 if(data=="成功"){
                   		xadmin.open('物料装配详情','makematerialdetail.html',800,460);
                   	 }else{
                   		 layer.alert("操作失败~ ");
                   	 }
                    });
                } else if(layEvent === 'update'){ //修改
                         $.get("getMaterialById1",{
                        	 product_id:data.product_id,product_name:data.product_name,design_id:data.design_id
                        	 ,design_id:data.design_id  
                         },function(data){
                        	 if(data=="成功"){
                        		 window.location.href="materialupdatedetail.html";
                        	 }else{
                        		 layer.alert("操作失败~ ");
                        	 }
                         });
                } 
            });
            //头工具栏事件
            table.on('toolbar(test)',
            function(obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                case 'addmenu':
                	 xadmin.open('添加权限(菜单)','menuadd.html',500,460);
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
                };
            });
          //条件查询
            $(".search_btn").on("click",function(){
                     table.reload("test",{
                         page: {
                             curr: 1 //重新从第 1 页开始
                         },
                         where: {
                        	 name: $("input[name=euUserName]").val()  //搜索的关键字
                         }
                     });
    
             });
            $(".search_btn1").on("click",function(){
          	  table.reload("test",{
          		page:{
          			curr:1
          		},
          		where:{
          			type: $("[name=type]").val()
          		}
          	  });
            });
            $(".search_btn2").on("click",function(){
            	  table.reload("test",{
            		page:{
            			curr:1
            		},
            		where:{
            			product_id: $("[name=product_id]").val()
            		}
            	  });
              });
            $(".search_btn3").on("click",function(){
            	  table.reload("test",{
            		page:{
            			curr:1
            		},
            		where:{
            			check_tag: $("[name=check_tag]").val()
            		}
            	  });
              });
        });</script>
</html>
