<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Loading加载</title>
<link type="text/css" href="css/style.css" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<div class="loading-page">
	<div class="counter">
		<p>load</p>
		<h1>0%</h1>
		<hr/>
		<button type="button" class="btn btn-default" id="btn1" style="display:none">返回</button><button type="button" class="btn btn-default" id="btn2" style="display:none">审核</button>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  var counter = 0;
  var c = 0;
  var i = setInterval(function(){
      $(".loading-page .counter h1").html(c + "%");
      $(".loading-page .counter hr").css("width", c + "%");
    counter++;
    c++;
    if(counter == 101) {
        clearInterval(i);
    }
  }, 50);
});
</script>
<script type="text/javascript">
	$(function(){
		$("#btn1").click(function(){
			window.location.href="supplieradd.html";
		});
		$("#btn2").click(function(){
			window.location.href="supplierqueryunchecked.html";
		});
		setTimeout("showbtn()",5000);
	})
	function showbtn(){
        document.getElementById('btn1').style.display='inline';
        document.getElementById('btn2').style.display='inline';
    }
</script>
</body>
</html>