<!DOCTYPE html>
<html class="x-admin-sm">

<head>
<meta charset="UTF-8">
<title>修改用户密码</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<script type="text/javascript" src="./lib/layui/layui.js"
	charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<script type="text/javascript" src="./lib/loading/okLoading.js"></script>
	<script type="text/javascript" src="./lib/echarts/echarts.min.js"></script>
	<script type="text/javascript" src="./lib/echarts/echarts.theme.js"></script>
	<script type="text/javascript" src="./lib/echarts/world/js/china.js"></script>
	<script type="text/javascript" src="./lib/layui/layuilogin.js"></script>
	<script type="text/javascript" src="./js/console.js"></script>
	<link rel="stylesheet" href="./css/oksub.css" media="all"/>
</head>
<style>
	#btnSendCode1{
		position: relative;
		top: -8px
	}
	#div1{
		margin-left: 550px;
	}
	body{background-image:url('./images/pwdbg.jpg')};
</style>
<body>
<br><br><br><br>
<h1 align="center" style="color: white">密码中心</h1>
	<div class="layui-fluid" id="div1">
		<div class="layui-row">
			<form class="layui-form">
				<div class="layui-form-item">
					<div class="layui-input-inline">
						<input type="hidden" id="id" name="id" required=""
							lay-verify="pid" autocomplete="off" class="pid layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label for="pname" class="layui-form-label"> <span
						class="x-red">*</span><b style="color: white">用户名称</b>
					</label>
					<div class="layui-input-inline">
						<input type="text" id="u_name" name="u_name" readonly="readonly"
							lay-verify="pname" autocomplete="off" class="name layui-input" th:value="${session.username }">
					</div>
					<div class="layui-form-mid layui-word-aux">
						<span class="x-red">*</span>这是你的用户名
					</div>
				</div>
				
				<div class="layui-form-item">
					<label for="purl" class="layui-form-label"> <span
						class="x-red">*</span><b style="color: white">旧密码</b>
					</label>
					<div class=" layui-input-inline">
						<input type="password" id="oldpwd" name="oldpwd" required=""
							lay-verify="required" autocomplete="off" class="purl layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux" id="ms">填写旧密码</div>
				</div>
				
				<div class="layui-form-item">
					<label for="purl" class="layui-form-label"> <span
						class="x-red">*</span><b style="color: white">新密码</b>
					</label>
					<div class=" layui-input-inline">
						<input type="password" id="newPwd" name="newPwd" required=""
							lay-verify="required"  autocomplete="off" class="purl layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">填写新密码</div>
				</div>
				<div class="layui-form-item">
					<label for="purl" class="layui-form-label"> <span
						class="x-red">*</span><b style="color: white">确认密码</b>
					</label>
					<div class=" layui-input-inline">
						<input type="password" id="que" name="que" required="required"
							lay-verify="required"  autocomplete="off" class="purl layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">确认密码</div>
				</div>
				
				<div class="layui-form-item">
					<label for="purl" class="layui-form-label"> <span
						class="x-red">*</span><b style="color: white">手机号</b>
					</label>
					<div class=" layui-input-inline">
						<input type="text" id="phone1" name="phone1" required=""
							lay-verify="required" autocomplete="off" class="purl layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">你的手机号码用于接收验证码</div>
				</div>
				<div class="layui-form-item">
					<label for="purl" class="layui-form-label"> <span
						class="x-red">*</span><b style="color: white">验证码</b>
					</label>
					<div class=" layui-input-inline">
						<input type="text" id="yanzhengma" name="yanzhengma" required=""
							lay-verify="required"  autocomplete="off" class="purl layui-input">
					</div>
					<div class="layui-form-mid layui-word-aux">
						<input type="button"  required="" id="btnSendCode1" class = "layui-btn layui-btn-sm"
						value="获取验证码" onClick="sendMessage1()">
					</div>
					<input type="hidden" name="yzm">
				</div>
				<div class="layui-form-item">
					<label for="L_repass" class="layui-form-label"> </label>
					<button class="layui-btn btn_add" lay-filter="add" lay-submit="">
						确认修改</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		layui.use([ 'form', 'layer' ], function() {
			$ = layui.jquery;
			var form = layui.form, layer = layui.layer;
			//监听提交
			form.on('submit(add)', function(data) {
				var yanzhengma = $("[name=yanzhengma]").val();
				var yzm = $("[name=yzm]").val();
				if(yanzhengma!=yzm){
					alert("验证码输入错误!");
					return false;
				}else{
					$.post("updatepwd", data.field, function(data) {
						if (data == "1") {
							layer.confirm('密码已修改请重新登录！',{icon:3, title:'提示信息'},function(index){
								window.location.reload();
		                		window.location.href='/tiaozhuan';
		                    });		
						} else {
							top.layer.msg("操作失败！");
						}
					});
				}
				
				return false;
			});
		});
	</script>
	
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
	var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
	var count = 60;
	var InterValObj1;
	var curCount1;
	function sendMessage1() {
		curCount1 = count;
		var phone = $.trim($('#phone1').val());
		if (!phoneReg.test(phone)) {
			alert(" 请输入有效的手机号码");
			return false;
		}

		$("#btnSendCode1").attr("disabled", "true");
		$("#btnSendCode1").val( + curCount1 + "秒再获取");
		InterValObj1 = window.setInterval(SetRemainTime1, 1000);

	}
	function SetRemainTime1() {
		if (curCount1 == 0) {
			window.clearInterval(InterValObj1);
			$("#btnSendCode1").removeAttr("disabled");
			$("#btnSendCode1").val("重新发送");
			$("[name=yzm]").val("");
		}
		else {
			curCount1--;
			$("#btnSendCode1").val( + curCount1 + "秒再获取");
		}
	}

	function binding(){
		alert('请输入手机号码')
	}
</script>
<script type="text/javascript">
$(function(){
	$("#oldpwd").blur(function(){
		var u_name = $("[name=u_name]").val();
		var oldpwd = $("[name=oldpwd]").val();
		$.post("querenOldPwd",{"u_name":u_name,"oldpwd":oldpwd},function(result){
			if(result=="1"){
				$("#ms").text("输入正确");
				
			}else{
				$("#ms").html("<font color=red>输入错误</font>");
				$("[name=oldpwd]").val("");
			}
		});
		
	});
	
	//获取验证码
	$("#btnSendCode1").click(function(){
		var phone1 =$("#phone1").val();
		$.post("yanzhengma",{"phone1":phone1},function(result){
			$("[name=yzm]").val(result);
		}); 
	})
})	
</script>
</html>
