<!DOCTYPE html>
<html class="x-admin-sm">

<head>
<meta charset="UTF-8">
<title>个人信息</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="./css/font.css">
<link rel="stylesheet" href="./css/xadmin.css">
<script type="text/javascript"
	src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="./lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
</head>
<style>
body{
background-image:url('./images/userinfo.jpg');
};
</style>
<body>
	<div class="layui-fluid">
		<div class="layui-row">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">用户图像</label>
					<div class="layui-input-block">
						<div class="layui-upload-list">
							<img width="100px" height="100px"
								class="layui-upload-img userFaceBtn userAvatar layui-circle"
								id="userFace" th:src="${session.u_image}">
							<button type="button"
								class="layui-btn layui-btn-primary userFaceBtn">
								<i class="layui-icon">&#xe67c;</i>掐指一算，我要换一个头像了
							</button>
						</div>
						<input type="hidden" name="imgName" id="headImg">
						<!-获的图像名称->
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">用户姓名</label>
					<div class="layui-input-inline">
						<input type="text" th:value="${session.username}" name="u_name"
							class="layui-input" readonly="readonly">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">真实姓名</label>
					<div class="layui-input-inline">
						<input type="email" name="trueName" class="layui-input" th:value="${session.u.trueName}"> 
					</div>
				</div>
				<div class="layui-form-item">
					<label for="L_pass" class="layui-form-label"> <span
						class="x-red"></span>出生年月
					</label>
					<div class="layui-input-inline">
						<input class="layui-input" autocomplete="off" placeholder="生日"
							name="birthday" id="start1" th:value="${session.u.birthday}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">邮箱地址</label>
					<div class="layui-input-inline">
						<input type="email" name="email" class="layui-input" th:value="${session.u.email}">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">住址</label>
					<div class="layui-input-inline">
						<input type="email" name="address" class="layui-input" 
						th:value="${session.u.address}" readonly="readonly"> 
					</div>
				</div>
				<div class="layui-form-item x-city" id="start">
					<label for="L_pass" class="layui-form-label"> <span
						class="x-red"></span>修改住址
					</label>
					<div class="layui-input-inline">
						<select name="province" lay-filter="province" th:value="${session.u.province}">
							<option value="">请选择省</option>
						</select>
					</div>
					<div class="layui-input-inline">
						<select name="city" lay-filter="city" th:value="${session.u.city}">
							<option value="">请选择市</option>
						</select>
					</div>
					<div class="layui-input-inline">
						<select name="area" lay-filter="area" th:value="${session.u.area}">
							<option value="">请选择县/区</option>
						</select>
					</div>
				</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">个人宣言</label>
			<div class="layui-input-block">
				<textarea name="personl" placeholder="请输入内容"
					class="layui-textarea" th:text="${session.u.personl}"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label for="L_repass" class="layui-form-label"></label>
			<button class="layui-btn btn_add" lay-filter="add" lay-submit="">确定</button>
		</div>
		</form>
	</div>
	</div>
	<script type="text/javascript" src="./js/xcity.js"></script>
	<script>
		layui.use([ 'form', 'code', 'laydate','upload', 'layer', 'jquery' ], function() {
			form = layui.form;
			layer = layui.layer;
			upload = layui.upload;
			layui.code();
			$('#start').xcity();
			var laydate = layui.laydate;
			laydate.render({
				elem : '#start1' //指定元素
			});
			//监听提交
			form.on("submit(add)", function(data) {
				$.post("addUserDetailInfo", data.field,
						function(data) {
							if (data == "成功") {
								setTimeout(function() {
									top.layer.msg("操作成功！");
									layer.closeAll("iframe");
									//刷新父页面
									parent.location.reload();
								}, 1000);
							} else {
								top.layer.msg("操作失败！");
							}
						});
				return false;
			});
			//上传头像
			upload.render({
				elem : '.userFaceBtn',
				url : 'uploadImg',
				acceptMime : 'image',
				// size: 2048576,
				//method : "post",  //此处是为了演示之用，实际使用中请将此删除，默认用post方式提交
				before : function(obj) {
					//预读本地文件示例，不支持ie8
					obj.preview(function(index, file, result) {
						$('#userFace').attr('src', result); //图片链接（base64）
					});
				},
				done : function(res, index, upload) {
					$("#headImg").val(res.msg);
				}
			});
		});
	</script>
</body>
</html>