<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.mapper.crkGuanliMapper">

	<!--获取已调度入库单总记录数 -->
	<select id="getSGatherCount" resultType="int">
		select count(1) from
		s_gather
		where store_tag='已调度'
	</select>

	<!--获取已调度入库单的分页查询 -->
	<select id="SelectSGather" resultType="SGather">
		select * from
		s_gather
		where store_tag='已调度' limit #{startRow},#{pageSize}
	</select>

	<!--根据父级序号查询入库单详细信息 -->
	<select id="findD_fileById" resultType="SGatherDetails">
		select * from
		s_gather_details
		where parent_id=#{id}
	</select>
	<!-- 修改入库表 -->
	<update id="updateSGather">
		update s_gather
		<set>
			<if test="register != null and register !=''">
				register=#{register},
			</if>
			<if test="register_time != null and register_time !=''">
				register_time=#{register_time},
			</if>
			<if test="store_tag != null and store_tag !=''">
				store_tag=#{store_tag},
			</if>
			<if test="checker != null and checker !=''">
				checker=#{checker},
			</if>
			<if test="check_time != null and check_time !=''">
				check_time=#{check_time},
			</if>
			<if test="check_tag != null and check_tag !=''">
				check_tag=#{check_tag},
			</if>
			<if test="status != null and status !=''">
				status=#{status},
			</if>
		</set>
		where gather_id = #{gather_id}
	</update>
	<!-- 修改入库详细表 -->
	<update id="updateStoreByParent_id">
		update s_gather_details
		set gather_tag = '已入库'
		where parent_id = #{id}
	</update>

	<!--获取已入库入库单总记录数 -->
	<select id="getSGatherDengjiCount" resultType="int">
		select count(1)
		from
		s_gather
		where store_tag='已入库' and check_tag='审核通过' and status='未完成'
	</select>

	<!--获取已入库入库单的分页查询 -->
	<select id="SelectDengjiSGather" resultType="SGather">
		select * from
		s_gather
		where store_tag='已入库' and check_tag='审核通过' and status='未完成' limit
		#{startRow},#{pageSize}
	</select>

	<!-- 商品入库 -->
	<update id="addKucun">
		update s_cell
		set amount = amount+#{gathered_amount}
		where product_id = #{product_id}
	</update>

	<!--获取入库单总记录数 -->
	<select id="getSGatherAllCount" resultType="int">
		select count(1) from
		s_gather where  status='已完成'
	</select>

	<!--获取入库单的分页查询 -->
	<select id="SelectAllSGather" resultType="SGather">
		select * from
		s_gather  where  status='已完成'
		<if test="s.gather_id != null and s.gather_id !=''">
			and gather_id=#{s.gather_id}
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
</mapper>