<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.xt.mapper.M_apply_Mapper">
  	<!-- 查询需要审核的生产计划数量 -->
  	<select id="getAllMapplyAuditCount" resultType="int">
  		select count(1) from m_apply where check_tag='S001-0' and manufacture_tag='P001-0'
  		<if test="m.product_id!=null and m.product_id!=''">
  			and productId like CONCAT('%',#{m.productId},'%')
  		</if>
  	</select>
  	
  	<!-- 查询没有审核生产计划信息 -->
  	<select id="getAllMapplyAudit" resultType="MApply">
  		select * from m_apply where check_tag='S001-0' and manufacture_tag='P001-0'
  		<if test="m.product_id!=null and m.product_id!=''">
  			and productId like CONCAT('%',#{m.product_id},'%')
  		</if>
  		limit #{page.startRow},#{page.pageSize}
  	</select>
  	
  	<!-- 根据产品生产计划编号查询生产计划中的数据 -->
  	<select id="getMapplyAuditByid" resultType="MApply">
  		select * from m_apply where apply_id=#{apply_id}
  	</select>
  	
  	<!-- 产品生产计划审核(通过) -->
  	<update id="approveMapply">
  		update m_apply set checker=#{mapply.checker},check_suggestion=#{mapply.check_suggestion},
  		check_time=#{mapply.check_time},check_tag=#{mapply.check_tag} where apply_id=#{mapply.apply_id}
  	</update>
  	
  	<!-- 查询生产计划信息(条件)数量 -->
  	<select id="getAllMapplyCount" resultType="int">
  		select count(1) from m_apply where 1=1
  		<if test="m.check_tag!=null and m.check_tag!=''">
  			and check_tag=#{m.check_tag}
  		</if>
  		<if test="m.product_name!=null and m.product_name!=''">
  			and product_name like CONCAT('%',#{m.product_name},'%')
  		</if>
  	</select>
  	
  	<!-- 查询生产计划信息(条件)数据 -->
  	<select id="getAllMapply" resultType="MApply">
  		select * from m_apply where 1=1
  		<if test="m.check_tag!=null and m.check_tag!=''">
  			and check_tag=#{m.check_tag} 
  		</if>
  		<if test="m.product_name!=null and m.product_name!=''">
  			and product_name like CONCAT('%',#{m.product_name},'%')
  		</if>
  		limit #{page.startRow},#{page.pageSize}
  	</select>
  	
  	
  </mapper>