<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.xt.mapper.MDesignProcedureMapper">
  	<!-- 分页查询有多少产品 -->
  	<select id="listfind" resultType="MDesignProcedure">
 		select * from m_design_procedure where 1=1
 		<if test="md.design_Module_Tag !=null and md.design_Module_Tag != '' ">
 			and design_Module_Tag = #{md.design_Module_Tag}
 		</if>
 		<if test="md.check_Tag !=null and md.check_Tag != '' ">
 			and check_Tag = #{md.check_Tag}
 		</if>
 		<if test="md.design_Module_Tag !=null and md.design_Module_Tag != '' ">
 			and design_Module_Tag = #{md.design_Module_Tag}
 		</if>
 		<if test="md.design_Module_Change_Tag !=null and md.design_Module_Change_Tag != '' ">
 			and design_Module_Change_Tag = #{md.design_Module_Change_Tag}
 		</if>
 		<if test="md.change_Tag != null and md.change_Tag != '' ">
 			and change_Tag = #{md.change_Tag}
 		</if>
 		<if test="md.product_Name!=null and md.product_Name!=''">
			and product_Name like CONCAT('%',#{md.product_Name},'%')
		</if>
		<if test="page.startRow != null and page.pageSize != null">
		    limit #{page.startRow},#{page.pageSize}
		</if>
 	</select>
 	<!-- 分页查询总数量 -->
 	<select id="MdesCount" resultType="Integer">
 		select count(1) from m_design_procedure where 1=1
 		<if test="md.check_Tag !=null and md.check_Tag != '' ">
 			and check_Tag = #{md.check_Tag}
 		</if>
 		<if test="md.design_Module_Tag !=null and md.design_Module_Tag != '' ">
 			and design_Module_Tag = #{md.design_Module_Tag}
 		</if>
 		<if test="md.design_Module_Change_Tag !=null and md.design_Module_Change_Tag != '' ">
 			and design_Module_Change_Tag = #{md.design_Module_Change_Tag}
 		</if>
 		<if test="md.change_Tag != null and md.change_Tag != '' ">
 			and change_Tag = #{md.change_Tag}
 		</if>
 		<if test="md.product_Name!=null and md.product_Name!=''">
			and product_Name like CONCAT('%',#{md.product_Name},'%')
		</if>
 	</select>
 	<!-- 添加产品 -->
 	<insert id="mdesadd">
 		insert into m_design_procedure values(#{id},#{design_Id}, #{first_Kind_Id}, #{first_Kind_Name},#{product_Id}
 		,#{product_Name},#{procedure_Describe},#{cost_Price_Sum}, #{module_Cost_Price_Sum}, #{designer}, #{register}, #{register_Time},
 		#{checker}, #{check_Time}, #{check_Suggestion}, #{check_Tag}, #{changer},
 		#{change_Time}, #{change_Tag}, #{design_Module_Tag}, #{design_Module_Change_Tag})
 	</insert>
 	<!-- 修改产品 -->
 	<update id="mdesUpdate">
 		update m_design_procedure 
		<set>
			<if test="md.procedure_Describe !=null and md.procedure_Describe != '' ">
				procedure_Describe=#{md.procedure_Describe},
			</if>
			<if test="md.cost_Price_Sum != null and md.cost_Price_Sum != '' ">
				cost_Price_Sum=#{md.cost_Price_Sum},
			</if>
			<if test="md.module_Cost_Price_Sum != null and md.module_Cost_Price_Sum !=''">
				module_Cost_Price_Sum=#{md.module_Cost_Price_Sum},
			</if>
			<if test="md.register != null and md.register != '' ">
				register=#{md.register},
			</if>
			<if test="md.register_Time != null">
				register_Time= #{md.register_Time},
			</if>
			<if test="md.checker !=null and md.checker != '' ">
				checker= #{md.checker},
			</if>
			<if test="md.check_Time !=null ">
				check_Time= #{md.check_Time},
			</if>
			<if test="md.check_Suggestion !=null and md.check_Suggestion != '' ">
				check_Suggestion= #{md.check_Suggestion},
			</if>
			<if test="md.check_Tag !=null and md.check_Tag != '' ">
				check_Tag= #{md.check_Tag},
			</if>
			<if test="md.changer !=null and md.changer != '' ">
				changer= #{md.changer},
			</if>
			<if test="md.changer !=null and md.changer != '' ">
				changer= #{md.changer},
			</if>
			<if test="md.change_Tag !=null and md.change_Tag != '' ">
				change_Tag= #{md.change_Tag},
			</if>
			<if test="md.design_Module_Tag !=null and md.design_Module_Tag != '' ">
				design_Module_Tag= #{md.design_Module_Tag},
			</if>
			<if test="md.design_Module_Change_Tag !=null and md.design_Module_Change_Tag != '' ">
				design_Module_Change_Tag= #{md.design_Module_Change_Tag},
			</if>
		</set>
 		where id = #{md.id}
 	</update>
 	<select id="findId" resultType="MDesignProcedure">
 		select * from m_design_procedure where id = #{design_Id}
 	</select>
 	<!--添加产品设计成功后，修改档案的design_procedure_tag的状态(已设计)  -->
 	<update id="updatelwtdesign_procedure_tag">
 		update d_file set design_procedure_tag='已设计'  where product_id=#{product_id}
 	</update>
  </mapper>
  