<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xt.mapper.MManufactureMapper">
	<!-- 获取生产派工单 -->
	<select id="selectMManufacture">
		select * from m_manufacture
	</select>
	<!-- 拿到生产派工单的数量 -->
	<select id="getMManufactureCount" resultType="int">
		select count(1) from m_manufacture where check_tag='等待审核' 
		<if test="mm.product_name!=null and mm.product_name!=''">
			and product_name like CONCAT('%',#{mm.product_name},'%')
		</if>
	</select>
	<!-- 拿到生产派工单的数量 -->
	<select id="getMManufactureCountt" resultType="int">
		select count(1) from m_manufacture where check_tag='审核通过' 
		<if test="mm.product_name!=null and mm.product_name!=''">
			and product_name like CONCAT('%',#{mm.product_name},'%')
		</if>
	</select>
	<!-- 分页查询生产计划 -->
	<select id="getAllMManufactureInfo" resultType="MManufacture">
		select * from m_manufacture where check_tag='等待审核' 
		<if test="mm.product_name!=null and mm.product_name!=''">
			and product_name like CONCAT('%',#{mm.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!-- 审核生产派工单 -->
	<update id="updateMManufacture">
		update m_manufacture set
		checker=#{checker},check_time=#{check_time},check_tag=#{check_tag},remark=#{remark}
		where
		manufacture_id=#{manufacture_id}
	</update>
	<!-- 分页查询生产派工单审核通过的信息 -->
	<select id="getAllMManufactureInfoo" resultType="MManufacture">
		select * from m_manufacture where check_tag='审核通过' 
		<if test="mm.manufacture_id!=null and mm.manufacture_id!=''">
			and manufacture_id like
			CONCAT('%',#{mm.manufacture_id},'%')
		</if>
		<if test="mm.product_id!=null and mm.product_id!=''">
			and product_id like
			CONCAT('%',#{mm.product_id},'%')
		</if>
		<if test="mm.product_name!=null and mm.product_name!=''">
			and product_name like
			CONCAT('%',#{mm.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!-- 获取产品生产计划 -->
	<select id="selectMapply">
		select
		id,apply_id,product_id,product_name,product_describe,amount,check_time
		from m_apply
	</select>
	<!-- 拿到生产计划的数量 -->
	<select id="getMapplyCount" resultType="int">
		select count(1) from m_apply where manufacture_tag='未派工'
		<if test="m.product_name!=null and m.product_name!=''">
			and product_name like CONCAT('%',#{m.product_name},'%')
		</if>
	</select>
	<!-- 查询所有生产计划 -->
	<select id="getAllMapplyInfo" resultType="Mapply">
		select * from m_apply where manufacture_tag='未派工'
		<if test="m.product_name!=null and m.product_name!=''">
			and product_name like CONCAT('%',#{m.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	
	<!--以下yl写的  -->
	
	<!--根据产品的单号拿到产品所需的工序  -->
	<select id="getProcedureByProduct_id" resultType="MDesignProcedureDetails">
		select * from m_design_procedure_details 
		where parent_id =(select id from m_design_procedure where product_id=#{product_id})
	</select>
	<!--根据id拿到每道工序需要的物料  -->
	<select id="getMaterialByID" resultType="MDesignProcedureModule">
		select * from m_design_procedure_module where parent_id =#{id}
	</select>
	<!--拿到产品所需工序的总成本  -->
	<select id="getProcedureSumMoney" resultType="String">
		select sum(cost_price) from m_design_procedure_details 
		where parent_id =(select id from m_design_procedure where product_id=#{product_id})
	</select>
	<!--拿到产品所需物料的总成本  -->
	<select id="getMarterialSumMoney" resultType="String">
		select sum(subtotal) from m_design_procedure_module where parent_id =#{id}
	</select>
	<!--保存生产派工单单  -->
	<insert id="saveScpgd">
		insert into m_manufacture(manufacture_id,product_id,product_name,amount,product_describe,module_cost_price_sum,
		labour_cost_price_sum,designer,register,register_time,remark) 
		values(#{manufacture_id},#{product_id},#{product_name},#{amount},#{product_describe},#{module_cost_price_sum},
		#{labour_cost_price_sum},#{designer},#{register},#{register_time},#{remark})
	</insert>
	<!--保存完后，修改mapply的字段  -->
	<update id="updateMapply_manufacture_tag">
		update m_apply set manufacture_tag = '已派工' where product_id=#{product_id}
	</update>
	<!--根据生产派工单编号拿到详细信息做复核  -->
	<select id="getMManufactureDetailInfo" resultType="MManufacture">
		select * from m_manufacture where manufacture_id=#{id}
	</select>
	
</mapper>