<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.mapper.ProductFileMapper">
	<!--添加产品档案信息 -->
	<insert id="addProductInfo">
		insert into
		d_file(product_id,product_name,factory_name,first_kind_id,product_nick,type,product_class,personal_unit,personal_value,
		list_price,cost_price,warranty,lifecycle,product_describe,responsible_person,register)
		values(#{product_id},#{product_name},
		#{factory_name},#{first_kind_id},#{product_nick},#{type},#{product_class},#{personal_unit},#{personal_value},#{list_price},
		#{cost_price},#{warranty},#{lifecycle},#{product_describe},#{responsible_person},#{register})
	</insert>
	<!--产品单号要用的 -->
	<select id="getDanHao" resultType="String">
		select (id+1) from d_file
		order by id desc limit 1
	</select>
	<!--拿到需要复核产品的数量 -->
	<select id="getD_FileCount" resultType="int">
		select count(1) from d_file where check_tag='等待审核' and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<!--查询需要复核产品的信息 -->
	<select id="getD_fileFuHei" resultType="D_file">
		select * from d_file where check_tag='等待审核' and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--复核前根据产品id查询信息 -->
	<select id="getD_fileById" resultType="D_file">
		select * from d_file where
		product_id=#{product_id}
	</select>
	<!--复核产品档案信息 -->
	<update id="updateD_fileFuHe">
		update d_file set
		checker=#{checker},check_time=#{check_time},check_tag=#{check_tag},reason=#{reason}
		where product_id=#{product_id}
	</update>
	
	<select id="getD_FileCount1" resultType="int">
		select count(1) from d_file where check_tag='审核通过' and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getD_fileInfo" resultType="D_file">
		select * from d_file where check_tag='审核通过' and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		<if test="df.type!=null and df.type!=''">
			and type = #{df.type}
		</if>
		<if test="df.product_id!=null and df.product_id!=''">
			and product_id like CONCAT('%',#{df.product_id},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--删除一个产品档案信息(并没有真正删除，只是修改状态) -->
	<update id="updateDelProduct">
		update d_file set delete_tag="已删除" where
		product_id=#{product_id}
	</update>
	<!--更新产品档案信息 -->
	<update id="updateProductInfo">
		update d_file set
		product_name=#{product_name},factory_name=#{factory_name},first_kind_id=#{first_kind_id},
		product_nick=#{product_nick},type=#{type},product_class=#{product_class},personal_unit=#{personal_unit},personal_value=#{personal_value},
		list_price=#{list_price},cost_price=#{cost_price},warranty=#{warranty},lifecycle=#{lifecycle},product_describe=#{product_describe},
		responsible_person=#{responsible_person},register=#{register},file_change_amount=file_change_amount+1,changer=#{changer},change_time=#{change_time}
		,change_tag='已变更' where product_id=#{product_id}
	</update>
	<!--分页查询变更后的档案信息  -->
	<select id="getD_FileCount2" resultType="int">
		select count(1) from d_file where check_tag='审核通过' and delete_tag ='未删除' and change_tag='已变更'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getUpdateD_fileInfo" resultType="D_file">
		select * from d_file where check_tag='审核通过' and delete_tag ='未删除' and change_tag='已变更'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--分页查询删除后的档案信息  -->
	<select id="getD_FileCount3" resultType="int">
		select count(1) from d_file where delete_tag ='已删除' 
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getDelD_fileInfo" resultType="D_file">
		select * from d_file where delete_tag ='已删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--永久删除产品档案信息  -->
	<delete id="delProductInfo">
		delete from d_file where product_id = #{product_id}
	</delete>
	<!--恢复已经删除的档案信息  -->
	<update id="RecoverDelProduct">
		update d_file set delete_tag="未删除" where
		product_id=#{product_id}
	</update>
	
	<!--商品的分页查询  -->
	<select id="getProductCount" resultType="int">
		select count(1) from d_file where type = '商品' and check_tag='审核通过'  and delete_tag ='未删除'
	</select>
	<select id="getProductInfo" resultType="D_file">
		select * from d_file where type = '商品' and check_tag='审核通过'  and delete_tag ='未删除'
		limit #{page.startRow},#{page.pageSize}
	</select>
</mapper>
