<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.mapper.ProductFileMapper">
	<!--添加产品档案信息 -->
	<insert id="addProductInfo">
		insert into
		d_file(product_id,product_name,factory_name,first_kind_id,product_nick,type,product_class,personal_unit,personal_value,
		list_price,cost_price,warranty,lifecycle,product_describe,responsible_person,register)
		values(#{product_id},#{product_name},
		#{factory_name},#{first_kind_id},#{product_nick},#{type},#{product_class},#{personal_unit},#{personal_value},#{list_price},
		#{cost_price},#{warranty},#{lifecycle},#{product_describe},#{responsible_person},#{register})
	</insert>
	<!--产品单号要用的 -->
	<select id="getDanHao" resultType="String">
		select (id+1) from d_file
		order by id desc limit 1
	</select>
	<!--拿到需要复核产品的数量 -->
	<select id="getD_FileCount" resultType="int">
		select count(1) from d_file where check_tag='等待审核' and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<!--查询需要复核产品的信息 -->
	<select id="getD_fileFuHei" resultType="D_file">
		select * from d_file where check_tag='等待审核' and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--复核前根据产品id查询信息 -->
	<select id="getD_fileById" resultType="D_file">
		select * from d_file where
		product_id=#{product_id}
	</select>
	<!--复核产品档案信息 -->
	<update id="updateD_fileFuHe">
		update d_file set
		checker=#{checker},check_time=#{check_time},check_tag=#{check_tag},reason=#{reason}
		where product_id=#{product_id}
	</update>
	
	<select id="getD_FileCount1" resultType="int">
		select count(1) from d_file where check_tag='审核通过' and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getD_fileInfo" resultType="D_file">
		select * from d_file where check_tag='审核通过' and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		<if test="df.type!=null and df.type!=''">
			and type = #{df.type}
		</if>
		<if test="df.product_id!=null and df.product_id!=''">
			and product_id like CONCAT('%',#{df.product_id},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--删除一个产品档案信息(并没有真正删除，只是修改状态) -->
	<update id="updateDelProduct">
		update d_file set delete_tag="已删除" where
		product_id=#{product_id}
	</update>
	<!--更新产品档案信息 -->
	<update id="updateProductInfo">
		update d_file set
		product_name=#{product_name},factory_name=#{factory_name},first_kind_id=#{first_kind_id},
		product_nick=#{product_nick},type=#{type},product_class=#{product_class},personal_unit=#{personal_unit},personal_value=#{personal_value},
		list_price=#{list_price},cost_price=#{cost_price},warranty=#{warranty},lifecycle=#{lifecycle},product_describe=#{product_describe},
		responsible_person=#{responsible_person},register=#{register},file_change_amount=file_change_amount+1,changer=#{changer},change_time=#{change_time}
		,change_tag='已变更' where product_id=#{product_id}
	</update>
	<!--分页查询变更后的档案信息  -->
	<select id="getD_FileCount2" resultType="int">
		select count(1) from d_file where check_tag='审核通过' and delete_tag ='未删除' and change_tag='已变更'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getUpdateD_fileInfo" resultType="D_file">
		select * from d_file where check_tag='审核通过' and delete_tag ='未删除' and change_tag='已变更'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--分页查询删除后的档案信息  -->
	<select id="getD_FileCount3" resultType="int">
		select count(1) from d_file where delete_tag ='已删除' 
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getDelD_fileInfo" resultType="D_file">
		select * from d_file where delete_tag ='已删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--永久删除产品档案信息  -->
	<delete id="delProductInfo">
		delete from d_file where product_id = #{product_id}
	</delete>
	<!--恢复已经删除的档案信息  -->
	<update id="RecoverDelProduct">
		update d_file set delete_tag="未删除" where
		product_id=#{product_id}
	</update>
	
	<!--商品的分页查询  -->
	<select id="getProductCount" resultType="int">
		select count(1) from d_file where type = '商品' and check_tag='审核通过'  and delete_tag ='未删除' and design_module_tag='未设计'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getProductInfo" resultType="D_file">
		select * from d_file where type = '商品' and check_tag='审核通过'  and delete_tag ='未删除' and design_module_tag='未设计'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--物料的分页查询  -->
	<select id="getMaterialCount" resultType="int">
		select count(1) from d_file where type = '物料' and check_tag='审核通过'  and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getMaterialInfo" resultType="D_file">
		select * from d_file where type = '物料' and check_tag='审核通过'  and delete_tag ='未删除'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--为某个产品添加所需的物料  -->
	<insert id="addMaterial">
		insert into d_module_details(parent_id,product_id,product_name,type,product_describe,amount_unit,amount,cost_price,subtotal,residual_amount)
		values(#{parent_id},#{product_id},#{product_name},#{type},#{product_describe},#{amount_unit},#{amount},#{cost_price},#{subtotal},#{amount})
	</insert>
	<!--添加成功后数量减少  -->
	<update id="minusMaterialNum">
		update d_file set personal_value=personal_value-#{num} where product_id=#{id}
	</update>
	<!--查询需要的物料  -->
	<select id="queryMaterial" resultType="DModuleDetails">
		select * from d_module_details where parent_id=#{id}
	</select>
	<!--删除一个商品需要的物料  -->
	<delete id="delMaterial">
		delete from d_module_details where product_id=#{id} and parent_id=#{parent_id}
	</delete>
	<!--删除后物料增加  -->
	<update id="addMaterialNum">
		update d_file set personal_value=personal_value+#{num} where product_id=#{id}
	</update>
	<!--生成设计单号要用的  -->
	<select id="getDesignDanHao" resultType="String">
		select (id+1) from d_module
		order by id desc limit 1
	</select>
	<!--物料组成设计单完成进行保存  -->
	<insert id="saveMaterail">
	insert into d_module(design_id,product_id,product_name,designer,register,register_time,module_describe,cost_price_sum)
	values(#{design_id},#{product_id},#{product_name},#{designer},#{register},#{register_time},#{module_describe},#{cost_price_sum})
	</insert>
	<!--修改商品的设计状态(已设计)  -->
	<update id="updateGoodsDesign">
		update d_file set design_module_tag='已设计' where product_id=#{product_id}
	</update>
	<!--分页查询需要复核物料组成的信息  -->
	<select id="getMaterialFuHeCount" resultType="int">
		select count(1) from d_module where check_tag='等待审核' 
		<if test="dm.product_name!=null and dm.product_name!=''">
			and product_name like CONCAT('%',#{dm.product_name},'%')
		</if>
	</select>
	<select id="getMaterialFuHeInfo" resultType="DModule">
		select * from d_module where check_tag='等待审核' 
		<if test="dm.product_name!=null and dm.product_name!=''">
			and product_name like CONCAT('%',#{dm.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--拿到需要物料的总成本  -->
	<select id="getMaterialSumMoney" resultType="Double">
		select sum(subtotal) from d_module_details where parent_id=#{product_id}
	</select>
	<!--物料组成设计单审核  -->
	<update id="updateMaterialFuHeInfo">
		update d_module set reason=#{reason},checker=#{checker},check_time=#{check_time},check_tag=#{check_tag}
		where design_id=#{design_id}
	</update>
	<!--复核物料前根据id拿到产品所需物料的详细信息  -->
	<select id="getMaterialDetail" resultType="DModuleDetails">
		select * from d_module_details where parent_id=#{product_id}
	</select>
	<!--根据设计单号拿信息  -->
	<select id="getMaterialsInfo" resultType="DModule">
		select * from d_module where design_id=#{design_id}
	</select>
	<!--分页查询物料组成信息(通过)  -->
	<select id="getModuleCount" resultType="int">
		select count(1) from d_module where check_tag='审核通过' 
		<if test="dm.product_name!=null and dm.product_name!=''">
			and product_name like CONCAT('%',#{dm.product_name},'%')
		</if>
		<if test="dm.product_id!=null and dm.product_id!=''">
			and product_id like CONCAT('%',#{dm.product_id},'%')
		</if>
	</select>
	<select id="getAllModuleInfo" resultType="DModule">
		select * from d_module where check_tag='审核通过' 
		<if test="dm.product_name!=null and dm.product_name!=''">
			and product_name like CONCAT('%',#{dm.product_name},'%')
		</if>
		<if test="dm.product_id!=null and dm.product_id!=''">
			and product_id like CONCAT('%',#{dm.product_id},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--查询物料详细表里的所有物料  -->
	<select id="getAllDModuleDetails" resultType="DModuleDetails">
		select * from d_module_details
	</select>
	<!--修改产品需要的物料数量  -->
	<update id="updateMaterialNum">
		update d_module_details set amount=amount+#{num},residual_amount=residual_amount+#{num},
		subtotal=subtotal+#{sumMoney} 
		where product_id=#{product_id} and parent_id=#{parent_id}
	</update>
	<!--修改产品需要的物料信息  -->
	<update id="updateMaterialSuccess">
		update d_module set changer=#{changer},change_time=#{change_time},change_tag=#{change_tag},
		designer=#{designer},module_describe=#{module_describe},change_count=change_count+1
		where product_id=#{product_id}
	</update>
	<!--分页查询变更后的物料组成设计信息  -->
	<select id="getMaterialupdateCount" resultType="int">
		select count(1) from d_module where check_tag='审核通过'  and change_tag='已变更'
		<if test="dm.product_name!=null and dm.product_name!=''">
			and product_name like CONCAT('%',#{dm.product_name},'%')
		</if>
		<if test="dm.product_id!=null and dm.product_id!=''">
			and product_id like CONCAT('%',#{dm.product_id},'%')
		</if>
	</select>
	<select id="getMaterialupdateInfo" resultType="DModule">
		select * from d_module where check_tag='审核通过' and change_tag='已变更'
		<if test="dm.product_name!=null and dm.product_name!=''">
			and product_name like CONCAT('%',#{dm.product_name},'%')
		</if>
		<if test="dm.product_id!=null and dm.product_id!=''">
			and product_id like CONCAT('%',#{dm.product_id},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
	<!--//后面加的方法(完善)
	//物料删除后，物料总成本减少  -->
	<select id="getMaterialMoney" resultType="Double">
		select subtotal from d_module_details where parent_id=#{parent_id} and product_id=#{id}
	</select>
	<update id="updateMaterialSumMoney">
		update d_module set cost_price_sum=cost_price_sum-#{money} where design_id=#{design_id}
	</update>
	<update id="updateMaterialSumMoneyadd">
		update d_module set cost_price_sum=#{money} where design_id=#{design_id}
	</update>
	<delete id="delMaterialById">
		delete from d_module_details where parent_id=#{product_id}
	</delete>
	
	<!--罗文涛的制定产品生产工序设计单分页查询  -->
	<select id="getProductlwtCount" resultType="int">
		select count(1) from d_file where type = '商品' and check_tag='审核通过'  and delete_tag ='未删除' 
		and design_module_tag='已设计' and design_procedure_tag = '未设计'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
	</select>
	<select id="getProductlwtInfo" resultType="D_file">
		select * from d_file where type = '商品' and check_tag='审核通过'  and delete_tag ='未删除' and design_module_tag='已设计'
		 and design_procedure_tag = '未设计'
		<if test="df.product_name!=null and df.product_name!=''">
			and product_name like CONCAT('%',#{df.product_name},'%')
		</if>
		limit #{page.startRow},#{page.pageSize}
	</select>
</mapper>
