<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.xt.mapper.SPayMapper">
  <!-- 分页查询出库 -->
  	<select id="spaylist" resultType="SPay">
  		select * from s_pay where 1=1
  			<if test="s.pay_id != null and s.pay_id != '' ">
  				and pay_id like CONCAt('%',#{s.pay_id},'%')
  			</if>
  			<if test="s.check_tag == null or s.check_tag == '' ">
  				and (check_tag = '审核通过' or check_tag = '审核不通过')
  			</if>
  			<if test="s.check_tag != null and s.check_tag != '' ">
  				and check_tag = #{s.check_tag}
  			</if>
  			<if test="s.store_tag != null and s.store_tag != '' ">
  				and store_tag = #{s.store_tag}
  			</if>
  			<if test="page.startRow != null and page.pageSize != null">
		    	limit #{page.startRow},#{page.pageSize}
			</if>
  	</select>
  	<select id="countSPay" resultType="int">
  		select count(1) from s_pay
  		<where>
  			<if test="s.pay_id != null and s.pay_id != '' ">
  				pay_id like CONCAt('%',#{s.pay_id},'%')
  			</if>
  			<if test="s.check_tag != null and s.check_tag != '' ">
  				and check_tag = #{s.check_tag}
  			</if>
  			<if test="s.store_tag != null and s.store_tag != '' ">
  				and store_tag = #{s.store_tag}
  			</if>
  		</where>
  	</select>
  	<!-- 添加出库单 -->
  	<insert id="addSPay">
  		insert into s_pay values(null,#{pay_id},#{storer},#{reason},#{reasonexact},#{amount_sum},#{cost_price_sum},#{paid_amount_sum},
  		#{remark},#{register},#{register_time},#{checker},#{check_time},#{check_tag},#{attemper},#{attemper_time},#{store_tag},'未完成')
  	</insert>
  	<!-- 修改出库单 -->
  	<update id="updateSPay">
  		update s_pay 
  		<set>
  			<if test="amount_sum != null and amount_sum !=''">
  				amount_sum=#{amount_sum},
  			</if>
  			<if test="cost_price_sum != null and cost_price_sum !=''">
  				cost_price_sum=#{cost_price_sum},
  			</if>
  			<if test="paid_amount_sum != null and paid_amount_sum !=''">
  				paid_amount_sum=#{paid_amount_sum},
  			</if>
  			<if test="checker != null and checker !=''">
  				checker=#{checker},
  			</if>
  			<if test="check_time != null">
  				check_time=#{check_time},
  			</if>
  			<if test="check_tag != null and check_tag !=''">
  				check_tag=#{check_tag},
  			</if>
  			<if test="attemper != null and attemper !=''">
  				attemper=#{attemper},
  			</if>
  			<if test="attemper_time != null">
  				attemper_time=#{attemper_time},
  			</if>
  			<if test="store_tag != null and store_tag !=''">
  				store_tag=#{store_tag},
  			</if>
  		</set>
  		where id = #{id}
  	</update>
  	<!-- 出库单明细 -->
  	<select id="spayDeilslist" resultType="SPayDetails">
  		select * from s_pay_details where parent_id=#{s.parent_id}
  		<if test="s.product_name != null and s.product_name != null">
		    	and product_name = #{s.product_name}
		</if>
  		<if test="page.startRow != null and page.pageSize != null">
		    	limit #{page.startRow},#{page.pageSize}
		</if>
  	</select>
  	<select id="countSPayDeils" resultType="int">
  		select count(1) from s_pay_details  where parent_id=#{s.parent_id}
  	</select>
  	<!-- 添加出库单明细 -->
  	<insert id="spayDeilsadd">
  		insert into s_pay_details values(null,#{parent_id},#{product_id},#{product_name},#{product_describe},#{amount},#{amount_unit},#{cost_price}
  		,#{subtotal},#{paid_amount},'已登记')
  	</insert>
  	<!-- 修改出库单明细 -->
  	<update id="spayDeilsUpdate">
  		update s_pay_details
  		<set>
  			<if test="amount != null and amount !=''">
  				amount=#{amount},
  			</if>
  			<if test="subtotal !=null and subtotal != '' ">
  				subtotal=#{subtotal},
  			</if>
  			<if test="paid_amount != null and paid_amount !=''">
  				paid_amount=#{paid_amount},
  			</if>
  			<if test="pay_tag != null and pay_tag !=''">
  				pay_tag=#{pay_tag},
  			</if>
  		</set>
  		where id=#{id}
  	</update>
  	
  	<!-- 库存查询 -->
  	<select id="scelllist" resultType="SCell">
  		select * from s_cell where check_tag = '审核通过'
  		<if test="s.product_name != null and s.product_name != null">
		    	and product_name like CONCAt('%',#{s.product_name},'%')
		</if>
  		<if test="page.startRow != null and page.pageSize != null">
		    	limit #{page.startRow},#{page.pageSize}
		</if>
  	</select>
  	<select id="countscell" resultType="int">
  		select count(1) from s_cell  where check_tag = '审核通过'
  		<if test="product_name != null and product_name != null">
		    	and Product_name like CONCAt('%',#{product_name},'%')
		</if>
  	</select>
  	
  	<!-- 查询产品 -->
  	<select id="DfileIdc" resultType="D_file">
  		select * from D_file  where PRODUCT_ID = #{product_id}
  	</select>
  </mapper>